﻿<div id="modal_benbeficiarios" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Beneficiários</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="Cpf">CPF:</label>
                            <input required="required" type="text" class="form-control" id="Cpf" name="Cpf" placeholder="Ex.: 010.010.111-00" maxlength="14">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="Nome">Nome:</label>
                            <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: João" maxlength="50">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="pull-right">
                            <button id="btn_incluir" type="button" class="btn btn-sm btn-success">Incluir</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table id="gridBeneficiarios" class="table"></table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>

</div>